header{
  font-size: 54px;
  text-decoration: underline;
  color: rgb(131, 131, 131);
  font-family: 'Turret Road', cursive;
  float:left;
  padding:5px;
  width:60%;
}

header img{
  width: 70%;
}

body {
background-color: rgba(238, 238, 238, 0.897);
width:960px;
}

main{
  font-family: 'Turret Road', cursive;
  padding:10px;
  text-align:right;
  font-size: 17px;
  z-index:1;
  color:rgb(156, 25, 25);
  text-decoration: bolder;
  width:960px;
  height:204px;
  position:relative;
  top:0.5px;
 
}
main img{
  position:absolute;
  top:0.5px;
  right:0.5px;
  z-index:-1;
  opacity:0.5;
  height:220px;
  width:30%
}


h4{
  font-weight:bolder;
  text-decoration:underline;
  font-family: 'Turret Road', cursive;
}

div img{
  width:250px;
  height:375px;
  padding:6px;
}
div img:nth-of-type(2){
  width:415px;
}

footer{
  height:100px;
  background-color:rgb(211, 250, 237);
  width:100%;
  margin-bottom:30px;
}
footer>img{
  margin: 20px 0;
  float:left;
  margin-left:10px;
  height:70px;
  width:200px;
}
footer>a{
  padding: 50px;
  float:left;
  text-decoration: none;
}

body > p > img {
  margin:0 10px;
  height:200px;
  width:250px;
}
body>section:nth-of-type(1){
  width:960px;
  color:rgb(147, 147, 252);
  height:300px;
  width:500px;
  overflow:scroll;

}
body>p{
  float:left;
  margin: 30px 0;
  margin-right: 30px;
}


th {   
border: 2px solid rgb(59, 57, 68);
padding: 4px;
}
td {
border: 2px solid rgb(59, 57, 68);
padding: 4px;
}